# Cmake files
*.bin
*.cmake
*.cproject
*.check_cache
*.dir
*.log
*.project
*.marks

# Images
*.jpg
*.jpeg
*.png

# Output files
*.csv
*.mat
*.model
*.txt

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
